body{
    background-color: #E5E5E5;
    font-family: 'Lucida Sans';
    margin: 0px 60px;
    padding: 0px 0px 35px 0px;
       
}

/*encabezado*/

header{
    margin: 40px 40px;
}

#logo{
    width: 120px;
    height: 48px;
    left:40px;
    top:40px;
}

/*contenedor Encriptar*/

div{
    width: 40%;
    height: 100%;
    display: inline-block;
}

.caja-encriptar{    
    padding: 40px 40px;
}

.input-mensaje{
    width: 90%;
    height: 450px;
    border: none;
    background-color: rgba(35, 50, 70, 0.28);
    text-align: left;
    font-size: 32px;
    font-family: 'Lucida Sans';
    color: #0A3871;
    border-radius: 10px;
    outline: none;
    padding-top: 15px 30px;
    
}

p{
    font-family: 'Lucida Sans';
    padding: 5px 40px;
    font-size: 10px;
    
}

.botones{
    width: 100%;
    margin-left: 40px;
}

/*botones*/

#encriptar{
    padding: 10px 35px;
    font-family: 'Lucida Sans';
    border-radius: 10px;
    background-color: #0A3871;
    border: none;
    color: #ffffff;
}

#desencriptar{
    padding: 10px 30px;
    font-family: 'Lucida Sans';
    border-radius: 10px;
    background-color: D8DFE8;
    border: solid 1px #0A3871;
    color: #0A3871;

}

/*contenedor Desencriptar*/

.caja-desencriptar{
    
    padding: 0px 40px;
    background-color: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.28);    
}

.texto-desencriptado{
    border: transparent;    
    text-align: center;
    font-size: 32px;
    font-family: 'Lucida Sans';
    color: #0A3871;
    width: 90%;
    outline: none;
    padding-top: 30px;
}

/*seccion a ocultar*/

.ocultar{
    width: 90%;
    padding: 40px 40px;
}

#imagen-desencriptar{
    width: 336px;
    height: 304px;
    padding: 0 55px;    
}

.ocultar h1{
    font-family: 'Franklin Gothic Medium';
    font-size: 24px;
    text-align: center;
    margin: 10px auto;
}

.ocultar p{
    font-family: 'Lucida Sans';
    font-size: 14px;
    text-align: center;
    padding: 10px auto;
}

/*boton Copiar*/

#copiar{
    margin: 80px 200px;
    padding: 10px 30px;
    font-family: 'Lucida Sans';
    border-radius: 10px;
    background-color: #0A3871;
    border: none;
    color: #ffffff;
}





